/* Extra small devices (phones) */
@media (max-width: 576px) {
}

/* Small devices (tablets) */
@media (max-width: 768px) {
  .tb-banner-text-container {
    margin-bottom: 5rem;
  }

  .tb-role-selection {
    height: fit-content;
  }

  .tb-pre-join-form-input {
    font-size: 18px;
  }

  .tb-pre-join-container {
    width: 95%;
  }

  .tb-pre-join-form-button-start {
    width: 18px;
  }

  .tb-pre-join-container {
    padding: 2rem 1.5rem;
  }
}

/* Medium size devices (Small laptops) */
@media (max-width: 990px) {
  .tb-header-buttons-container {
    display: block;
  }
  .tb-signup-image-container-display-none {
    display: none;
  }
}

/* Large devices (Laptops) */
@media (max-width: 1200px) {
}

/* Extra large devices (large desktops) */
@media (min-width: 1200px) {
}
