* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.1s linear;
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #f5f5f5;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

:root {
  --main-color: #17538a;
  --light-grey: #f2f1f1;
  --results-bg: rgba(253, 253, 253, 0.7);
}

/* HEADER */
.tb-header {
  /* border: 1px solid red; */
}

.tb-navbar {
  /* border: 1px solid red; */
}

.tb-logo {
  width: 200px;
  /* border: 1px solid red; */
}

.tb-header-buttons-container {
  display: flex;
  justify-content: space-between;
}

.tb-header-button {
  margin-left: 1rem;
}

/* ======= MAIN HOME ======= */

.tb-banner {
  padding-top: 80px;
}

.tb-banner-text-container {
  max-width: 580px;
}

.tb-banner-text-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 1rem;
}

.tb-banner-text-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 2rem;
}

.tb-banner-text-buttons-container {
  display: flex;
  gap: 1rem;
}

.tb-banner-text-button {
  /* border: 1px solid red; */
  border-radius: 15px;
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: 3px 6px 4px 0px #00000077;
  cursor: pointer;
  transition: all 0.2s linear;
}

.tb-banner-text-button:hover {
  box-shadow: 3px 6px 4px 1px #000000c1;
}

.tb-banner-text-button-teacher {
  background-color: var(--main-color);
  color: #fff;
}

.tb-banner-text-button-student {
  background-color: var(--light-grey);
  color: var(--main-color);
}

.tb-banner-text-button-top {
  font-size: 12px;
}

.tb-banner-text-button-title {
  font-size: 18px;
  font-weight: bold;
}

.tb-banner-image {
  max-width: 500px;
}

/* ==== SIGN UP AND LOGIN */
.tb-signup {
  background-color: var(--main-color);
  height: calc(100vh - 79px);
  padding-top: 3rem;
}

.tb-signup-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
}

.tb-signup-form-container {
  padding: 2rem 3rem;
}

.tb-signup-form-title {
  font-size: 22px;
  margin-bottom: 1.5rem;
}

.tb-signup-form {
  margin-bottom: 1.5rem;
}

.tb-signup-forgot-password {
  text-decoration: none;
  font-size: 12px;
  color: #4d72f8;
}

.tb-signup-or-line-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tb-signup-or-line {
  width: 40%;
  height: 1px;
  background-color: #909090;
}

.tb-signup-with-google-btn {
  border: 1px solid #909090;
  padding: 0.35rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.tb-signup-with-google-btn:active {
  background-color: #444;
  color: #fff;
}

.tb-signup-with-google-btn:active .tb-signup-with-google-btn-title {
  color: #fff;
}

.tb-signup-with-google-btn-logo {
  display: flex;
}

.tb-signup-with-google-btn-logo-image {
  width: 24px;
  margin-right: 1.5rem;
}

.tb-signup-to-login-container {
  margin-top: 3rem;
}

.tb-signup-to-login-title {
  text-align: center;
}

/* ===== Role selection ===== */
.tb-role-selection {
  background-color: var(--main-color);
  height: calc(100vh - 79px);
  padding-top: 3rem;
}

.tb-role-selection-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 5rem 3rem;
}

.tb-role-selection-title {
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.tb-role-box {
  width: 90%;
  max-width: 500px;
  min-width: 250px;
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid #909090;
  border-radius: 5px;
  cursor: pointer;
}

.tb-role-box:hover {
  border: 2px solid var(--main-color);
  color: var(--main-color);
}

.tb-role-box-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2rem;
}

.tb-role-box-image-teacher,
.tb-role-box-image-student {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.tb-role-box-image-teacher {
  background-color: green;
}

.tb-role-box-image-student {
  background-color: orange;
}

.tb-role-box-image {
  height: 150px;
}

/* ==== Verify Email ===== */
.tb-verify-email {
  background-color: var(--main-color);
  height: calc(100vh - 79px);
  padding-top: 4rem;
}

.tb-verify-email-container {
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  padding: 3rem 2rem 3rem 2rem;
  align-content: center;
  text-align: center;
}

.tb-verify-email-image-container {
  margin-bottom: 0.5rem;
}

.tb-verify-email-image {
  width: 180px;
}

.tb-verify-email-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.tb-verify-email-description {
  margin-bottom: 2rem;
}

.tb-verify-email-link {
  text-decoration: none;
  font-size: 16px;
}

/* ========== JOIN ======= */
.tb-join {
  background-color: var(--main-color);
  height: calc(100vh - 79px);
  padding-top: 10rem;
}

.tb-join-container {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
}

.tb-join-form {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 3px 3px #282828;
}

.tb-join-form-input {
  border: none;
  margin-right: 0.5rem;
  font-size: 24px;
}

.tb-join-form-input:focus {
  outline: none;
  box-shadow: none;
}

.tb-join-form-button {
  width: 150px;
  box-shadow: 2px 2px 2px #939393;
  font-size: 24px;
  letter-spacing: 0.8px;
  border-radius: 10px;
}

.tb-join-form-button:focus {
  box-shadow: 3px 3px 3px #939393 !important;
}

.tb-join-error-container {
  background-color: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  align-content: center;
  text-align: center;
  background: rgb(198, 88, 88);
}

.tb-join-error-message {
  margin: 0;
  padding: 0;
  color: #fff;
}

/* ========== PRE-JOIN ============ */
/* ========== JOIN ======= */
.tb-pre-join {
  background-color: var(--main-color);
  height: calc(100vh - 79px);
  padding-top: 5rem;
}

.tb-pre-join-container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 2px 3px 3px #282828;
  padding: 2rem 6rem;
  margin-bottom: 2rem;
}

.tb-pre-join-form {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  border: 1px solid #444;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tb-pre-join-form-input {
  border: none;
  margin-right: 0.5rem;
  font-size: 24px;
}

.tb-pre-join-form-input:focus {
  outline: none;
  box-shadow: none;
}

.tb-pre-join-form-button {
  font-size: 24px;
  letter-spacing: 0.8px;
  border-radius: 10px;
  cursor: pointer;
}

.tb-pre-join-form-button:active {
  transform: scale(1.1);
}

.tb-pre-join-form-button-animation {
  animation: rotate 1s ease-in-out infinite;
}

.tb-pre-join-form-button:focus {
  box-shadow: 3px 3px 3px #939393 !important;
}

.tb-pre-join-form-label {
  padding: 0 0.5rem;
  color: var(--main-color);
}

.tb-pre-join-form-button-start {
  border-radius: 10px;
  font-size: 24px;
  background-color: var(--main-color);
}

.tb-pre-join-category {
  background-color: #f6a6a6;
  width: fit-content;
  border-radius: 15px;
  /* color: #fff; */
  margin-left: 0.5rem;
}

.tb-pre-join-quiz-title {
  font-weight: bold;
  font-size: 24px;
}

.tb-pre-join-quiz-info {
  display: flex;
}

.tb-pre-join-quiz-info-item {
  margin-right: 1rem;
  color: #494949;
}

.tb-pre-join-quiz-info-item-dot {
  color: #494949;
  font-weight: bolder;
  margin-right: 1rem;
}

/* rotate animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ====== COUNT ===== */
.tb-count {
  height: 100vh;
  background-color: var(--main-color);
  padding-top: 30vh;
}

.tb-count-container {
  height: 35vh;
  width: 100vw;
  background-color: #090909;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-count-title {
  font-size: 85px;
  color: #fff;
  animation: scaleText 1s linear 1;
}

/* rotate animation */
@keyframes scaleText {
  from {
    content: "4";
    transform: scale(2);
  }
  to {
    content: "3";
    transform: scale(1);
  }
}

/* =========== QUESTION ============== */
.tb-question {
  height: calc(100vh - 60px);
  background-color: var(--main-color);
  padding-top: 5vh;
}

.tb-question-container {
  background-color: var(--light-grey);
  width: 98vw;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.tb-question-title {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  /* color: #fff; */
}

.tb-time-left-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tb-time-left-clock {
  color: #fff;
  font-size: 30px;
  margin-right: 0.35rem;
}

.tb-time-left-title {
  font-size: 36px;
  color: #fff;
  font-weight: bolder;
}

.tb-options-container {
  margin: 0 auto;
  width: 98vw;
  margin-bottom: 1rem;
}

.tb-option {
  background-color: #fff;
  display: flex;
  align-items: center;
  /* margin-right: 2rem; */
  padding: 0.35rem;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #444;
}

.tb-option-correct {
  background-color: rgb(49, 182, 49);
  color: #fff;
}

.tb-option-incorrect {
  background-color: rgb(233, 64, 64);
  color: #fff;
}

.tb-option:hover {
  transform: scale(1.01);
  box-shadow: 3px 5px 5px #444;
}

.tb-option-label {
  color: #fff;
  padding: 1rem 2rem;
  background-color: blue;
  font-size: 24px;
  font-weight: bolder;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #444;
}

.tb-option-label-red {
  background-color: red;
}

.tb-option-label-green {
  background-color: green;
}

.tb-option-label-orange {
  background-color: orange;
}

.tb-option-title {
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
}

.tb-question-number-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-question-number {
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tb-question-number-title {
  display: flex;
  align-items: center;
  align-items: center;
}

.tb-question-number-title-current {
  font-size: 48px;
  font-weight: 600;
  padding-bottom: 1rem;
}
.tb-question-number-title-total {
  font-size: 24px;
}

.tb-header-button-code {
  background-color: var(--main-color);
  margin-left: 1rem;
}

/* =========== QUIZ RESULTS ============== */
.tb-quiz-results {
  background-color: var(--main-color);
  padding: 0.5rem;
  padding-top: 5vh;
}

.tb-quiz-results-container {
  background-color: var(--results-bg);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 2rem 0;
}

.tb-quiz-results-title {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.tb-quiz-results-user {
  background-color: #ffffff;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.tb-quiz-results-user-image-container {
  padding: 2rem;
  margin-right: 1.5rem;
  background-color: #747474;
  border-radius: 50%;
}

.tb-quiz-results-user-name {
  font-size: 24px;
}

.tb-quiz-results-accuracy {
  background-color: #ffffff;
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.tb-quiz-results-accuracy-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}

.tb-quiz-results-correctness {
  border-radius: 10px;
  margin: 0 auto;
  padding: 1rem 1rem;
}

.tb-quiz-results-correctness-box {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 24px;
  border-radius: 15px;
  color: #fff;
}

.tb-quiz-results-correctness-box-green {
  background-color: green;
  color: #fff;
}

.tb-quiz-results-correctness-box-red {
  background-color: red;
  color: #fff;
}

.tb-quiz-results-button {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
  font-size: 24px;
  border-radius: 15px;
  color: #fff;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: var(--main-color);
}

.tb-quiz-results-button-btn {
  padding: 1.2rem;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.tb-quiz-results-tabs {
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 1rem;
}

.tb-quiz-results-tabs-container {
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  color: #fff;
  background-color: #ffffff;
  overflow: hidden;
}

.nav-pills .nav-link.active {
  background-color: var(--main-color);
}

.nav-link {
  color: var(--main-color);
}

.tb-quiz-review {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 15px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.tb-quiz-review-title {
  margin-bottom: 1.5rem;
}

.tb-quiz-review-question {
  background-color: #0b424e;
  color: #fff;
  border-radius: 15px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}

.tb-quiz-review-question-line {
  width: 100%;
  margin: 1rem 0;
  height: 1px;
  background-color: #fff;
}

.tb-quiz-review-question-title {
  font-size: 18px;
}

.tb-quiz-review-answer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.tb-quiz-review-answer-symbol {
  margin-right: 1.5rem;
}

.tb-color-green {
  color: rgb(12, 254, 12);
}

.tb-color-red {
  color: rgb(253, 51, 44);
}

/* ======== ADMIN HOME ==========  */

.tb-notif-btn-wrapper {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.tb-notif-btn {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
}

.tb-badge {
  position: absolute;
  top: 0.2rem !important;
  right: 0.2rem;
  padding: 0.38em 0.4em;
}

.tb-card-category {
  width: fit-content;
  background-color: #f6e5a6;
  padding: 0.1rem 0.35rem;
  border-radius: 15px;
  /* color: #fff; */
  margin-bottom: 1rem;
}

.tb-card-title {
  line-height: 150%;
}

.tb-form-select {
  width: 200px;
}

/* ===== Library ====== */

.nav-align-top > .tab-content {
  background-color: transparent;
  box-shadow: none;
  padding: 1.5rem 0;
}

.nav-align-top > .tab-content {
  box-shadow: none;
}

.nav-align-top .nav-tabs ~ .tab-content {
  box-shadow: none;
}

.tb-card-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tb-card-three-dots {
  cursor: pointer;
}

.btn-icon {
  font-size: 24px;
}

/* ====== QUIZ ==== */
.tb-quiz-question-container {
  padding: 1.2rem;
}

.tb-quiz-question-row-between {
  margin-bottom: 1rem;
}

.tb-quiz-question-type {
  font-weight: bold;
}

.tb-quiz-question-time {
  border-radius: 5px;
  padding: 0.15rem 0.25rem;
  border: 1px solid #ccc;
}

.tb-quiz-question-title {
  font-size: 18px;
}

.tb-quiz-question-line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 1rem 0;
}

.tb-quiz-question-option {
  display: flex;
  align-items: center;
}

.tb-quiz-question-buttons-container {
  display: flex;
}

.tb-quiz-question-button {
  margin-right: 0.5rem;
  display: none;
}

.tb-quiz-question-container:hover .tb-quiz-question-button {
  display: block;
}
